<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">

    <title>Electron Seed</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <!--remove this script tag before building-->
    <script>require('electron-connect').client.create()</script>
</head>
<body>
<webview id="rtc-rooms" src="https://localhost/rooms/" autosize="on" style="min-width:800px; min-height:600px;" disablewebsecurity></webview>

</body>
</html>